extends layout.pug
include utils.pug

block content
    div(id='auth-page')
        div(id='auth-form')
            h1 QuoWrong
            h2 A place to share your lack of knowledge
            +validationErrorSummary(errors)
            div(id='auth-form-top')
                p Login
            form(action='/users/login' method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                p Username
                input(type='text' name='userName' value=userName id='userName' placeholder='johndoe')
                p Password
                input(type='password' name='password' value=password id='password' placeholder='••••••••')
                div(id='auth-form-bottom')
                    a(href='/users/sign-up' id='btn-grey-a') Don't have an account?
                    button(type='submit' id='btn-blue-login') Login
            +demoUser()
            div(id='auth-form-footer')
                p Express 
                p SQL 
                p JavaScript 
                p HTML 
                p CSS
