extends layout.pug
include utils.pug 

block content
  +navbar()
  div(class='form-container')
    div(class='q-form')
      form(action='/questions/new' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        label(for='headline') Headline 
        input(type='text' name='headline')
        label(for='content') Content 
        textarea(name='content')
        button(type='submit') Submit