extends layout.pug
include utils.pug

block content
    +validationErrorSummary(errors)
    form(action='/users/sign-up' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +inputField('First Name', 'firstName', user.firstName, 'text')
        +inputField('Last Name', 'lastName', user.lastName, 'text')
        +inputField('Username', 'userName', user.userName, 'text')
        +inputField('Email Address', 'email', user.email, 'email')
        +inputField('Password', 'password', null , 'password')
        +inputField('Confirm Password', 'confirmPassword', null , 'password')
        div
            button Submit
    div
        p: a(href='/users/login') already have an account?
