* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

h2 {
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

#btn-grey-a {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    font-size: 14px;
}

#btn-grey-a:hover {
    color: rgba(0, 0, 0, 0.8);
}

.btn-grey {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-color: transparent;
    border-radius: 25px;
    width: 75px;
    height: 25px;
}

.btn-grey:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.error-messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 25px 20px 25px 20px;
}

.error-messages li {
    color: red;
    font-size: 10px;
    list-style-type: none;
}

.error-messages p {
    color: rgba(0, 0, 0, 0.4);
    margin: 0 0 15px 0;
}

.btn-beige {
    background-color: rgb(241, 242, 242);
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 85px;
    height: 35px;
    /* padding: 10px 15px 10px 15px; */
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

.btn-beige:hover {
    background-color: rgb(214, 218, 218);
}

.btn-red {
    background-color: rgb(185, 43, 39);
    color: white;
    border-color: transparent;
    border-radius: 25px;
    width: 125px;
    height: 35px;
    /* padding: 10px 15px 10px 15px; */
    margin: 0 25px 0 0;
}

.btn-red:hover {
    background-color: rgb(209, 28, 22);
}

.nav-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: white;
}

.nav-bar {
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 60px;
    background-color: white;
    padding: 0 30px 0 30px;
}

.nav-bar > h1 > a {
    color: rgb(185, 43, 39);
    font-weight: bold;
    font-family: serif;
    font-size: 30px;
    text-decoration: none;
    margin: 0 25px 0 0;
}

.nav-bar > h1 > a:hover {
    color: rgb(209, 28, 22);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(241, 242, 242);
}

.main-container {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* background-color: rgb(241, 242, 242); */
    /* background-color: red; */
    padding: 50px 0 0 0;
    width: 1000px;
    min-height: 1500px;
}

#search-bar {
    width: 250px;
    height: 35px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 25px 0 0;
}

.content-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    min-width: 150px;
    min-height: 150px;
    border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
    font-size: 15px;
    padding: 0 0 0 30px;
}

.content-center {
    min-height: 1000px;
    min-width: 570px;
    margin: 0 25px 0 25px;
}

.content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 450px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.content-right h3 {
    font-size: 30px;
    font-weight: bold;
}

.q-card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 5px;
    margin: 0 0 10px 0;
}

.q-card h3 {
    font-size: 20px;
    font-weight: bold;
}

.q-card a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.q-card-top {
    padding: 35px 20px 20px 20px;
}

.q-content {
    line-height: 25px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 100px;
}

.q-img {
    height: 350px;
    width: 100%;
    background-color: rgb(106, 176, 241);
}

.question-votes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 125px 0 125px;
}

.btn-add-tag {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: rgb(235, 235, 235);
}

.btn-add-tag:hover {
    background-color: rgb(225, 225, 225);
}
