#question-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(241,242,242) ;
}

#question-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white ;
    border-radius: 5px;
    margin: 15px;

}

#question-card > h2 {
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin: 60px 0 10px 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 242, 242);
    /* background-color: red; */
    padding: 50px 0 0 0;
    width: 100vw;
    height: 100vh;
}

.q-form {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    width: 500px;
    min-height: 200px;
    margin: 0 0 10vh 0;
    padding: 60px 75px 60px 75px;
}

.q-form input,
.q-form textarea {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0 25px 0;
}

.q-form input:focus-visible,
.q-form textarea:focus-visible,
.q-form-edit input:focus-visible,
.q-form-edit textarea:focus-visible,
.answer-zone input:focus-visible,
.answer-zone textarea:focus-visible {
    outline: none;
    border: 1px solid #2e69ff;
}


.q-form label {
    font-size: 20px;
}

.q-form h3 {
    font-size: 20px;
    font-weight: bold;
}

.q-form-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.q-card-detail {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 5px;
    width: 600px;
    padding: 35px 25px 25px 25px;
}

.main-container-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: rgb(241, 242, 242); */
    /* background-color: red; */
    width: 1000px;
    min-height: 1500px;
    padding: 100px 0 0 0;
}

.q-card-detail h3 {
    font-size: 20px;
    font-weight: bold;
}

.btn-vote {
    color: rgba(0, 0, 0, 0.6);
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.btn-vote:hover {
    color: rgba(0, 0, 0, 0.9);
}

.btn-edit-del {
    background-color: rgb(185, 43, 39);
    color: white;
    border-color: transparent;
    border-radius: 25px;
    width: 75px;
    height: 25px;
    margin: 0 25px 0 0;
}

.btn-edit-del:hover {
    color: rgb(209, 28, 22);
}

.q-bottom {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding: 0 20px 0 20px;
}




.btn-bar {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    background-color: transparent;
    border: none;
}




.answer-zone {
    padding: 35px 20px 0 20px;
}

.answer-zone h2 {
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}

.answer-zone input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 25px 0 25px 0;
}

#qa-detail-edit {
    margin: 0 0 0 20vw;
}

.answer-list {
    margin: 50px 0 50px 0;
    list-style-type: none;
}


.answer-btns {
    display: flex;
}


.a-votes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.answer-zone p {
    margin: 0 0 30px 0;
}

.q-form-edit {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    font-size: 7px;
    font-weight: bold;
    width: 500px;
    min-height: 200px;
    margin: 0 0 10vh 0;
    padding: 60px 75px 60px 75px;
}

.q-form-edit input,
.q-form-edit textarea {
    width: 75%;
    height: 20px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 5px 0 12px 0;
}

.q-form-edit label {
    font-size: 10px;
}

.q-form-edit h3 {
    font-size: 10px;
    font-weight: bold;
}


.username-box {
    font-weight: bold;
    color: black;
}